
<div class="row">
    
<div class="col-sm-9">



<div class="form-horizontal templatemo-forgot-password-form templatemo-container">
<div class="container">            

<div class="col-md-8">

     <div style="text-align:center;font-size: 38px;"><span style="font-size: 30px;"class="glyphicon glyphicon-refresh" aria-hidden="true"></span> Update Profile</div>               
     
     
     <%= form_for @user, :html => {:multipart => true} do |f|%>
                   <br>
                     <div class="form-group">
			           
                       <div class="col-md-4">
                       <label class="control-label">Name</label>
                       </div>
                       <div class="col-md-8">
                        <%= f.text_field :name , :class => "form-control"%> <br>
                       </div>
                    </div>
    
                     <div class="form-group">
			          <div class="col-md-6">
			            <label for="password" class="control-label">Password</label>
                          <%= f.password_field :password, :class => "form-control" %>
			          </div>
			          <div class="col-md-6">
			            <label for="password" class="control-label">Confirm Password</label>
                        <%= f.password_field :password_confirmation , :class => "form-control"%><br>
			          </div>
			        </div>

                    <div class="form-group">
			           
                       <div class="col-md-4">
                       <label class="control-label">Town/locality</label>
                       </div>
                       <div class="col-md-8">
                        <%= f.text_field :address , :class => "form-control"%> <br>
                       </div>
                    </div>
                     
                    <div class="form-group">
			           
                       <div class="col-md-4">
                       <label class="control-label">Pincode</label>
                       </div>
                       <div class="col-md-8">
                        <%= f.text_field :pincode , :class => "form-control"%> <br>
                       </div>
                    </div>
                     
                    <div class="form-group">
			          <div class="col-md-4">
			            <label class="control-label">Telephone number</label>                      
			          </div>
                      <div class="col-md-8">
                         <%= f.text_field :phone_no, :class => "form-control" %><br>
                      </div>
                    </div>
                    
                     <div class="form-group">
			           
                       <div class="col-md-4">
                          
                       </div>
                       <div class="col-md-8">
                            <%= f.submit "Update profile" , :class => "btn btn-info square-btn-adjust" %> <br><br>
                       </div>
                    </div>

 

<%end%>

    </div>
</div>
</div>
</div>
<!--  Create post button and Adds-->
                      <div class="col-sm-3" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"><img src="/assets/bill.png" alt="img" height = "50" width  = "50"></img>  Create Post</p>
                                  <p>Ready to sell?</p>
                                  <div style='color: #FFF;float: center; font-size: 16px;'>
                                       <a href='/posts/new' class='btn btn-info square-btn-adjust'>Create Post</a>
                                  </div>
                                 
                                  </div>
                              </div>
                              <hr style="border-style:dashed">
                      </div>

                      <div class="col-sm-3" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"> Advertisement</p>
                                  <p>Ad Text</p>
                                  </div>
                              </div>
                      </div>

                      <div class="col-sm-3" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"> Jain drip</p>
                                  <p>Drips,sprinklers ,pumps</p>
                                 
                                  </div>
                              </div>
                      </div>
                      <!--  /Create post button and Adds-->

</div>
