<div class="form-horizontal templatemo-forgot-password-form templatemo-container">
<div class="container">            

<div class="col-md-8">

     <div style="text-align:center;font-size: 38px;">Update Profile</div>               
     
     
     <%= form_for @user, :html => {:multipart => true} do |f|%>
                   <br>
                     <div class="form-group">
			           
                       <div class="col-md-4">
                       <label class="control-label">Name</label>
                       </div>
                       <div class="col-md-8">
                        <%= f.text_field :name , :class => "form-control"%> <br>
                       </div>
                    </div>
    
                     <div class="form-group">
			          <div class="col-md-6">
			            <label for="password" class="control-label">Password</label>
                          <%= f.password_field :password, :class => "form-control" %>
			          </div>
			          <div class="col-md-6">
			            <label for="password" class="control-label">Confirm Password</label>
                        <%= f.password_field :password_confirmation , :class => "form-control"%><br>
			          </div>
			        </div>

                    <div class="form-group">
			           
                       <div class="col-md-4">
                       <label class="control-label">Town/locality</label>
                       </div>
                       <div class="col-md-8">
                        <%= f.text_field :address , :class => "form-control"%> <br>
                       </div>
                    </div>
                     
                    <div class="form-group">
			           
                       <div class="col-md-4">
                       <label class="control-label">Pincode</label>
                       </div>
                       <div class="col-md-8">
                        <%= f.text_field :pincode , :class => "form-control"%> <br>
                       </div>
                    </div>
                     
                    <div class="form-group">
			          <div class="col-md-4">
			            <label class="control-label">Telephone number</label>                      
			          </div>
                      <div class="col-md-8">
                         <%= f.text_field :phone_no, :class => "form-control" %><br>
                      </div>
                    </div>
                    
                     <div class="form-group">
			           
                       <div class="col-md-4">
                          
                       </div>
                       <div class="col-md-8">
                            <%= f.submit "Update profile" , :class => "btn btn-info square-btn-adjust" %> <br><br>
                       </div>
                    </div>

 

<%end%>

    </div>
</div>
</div>