
                      	<div class="row">                  <!-- contains inner blank write code here -->
                          
                         <!-- write here to fit in entire white box --> 
                                                   
                          <!--  main post-->

                          <div class="col-sm-9">
                           <!-- write here to fit in--> 
                          
                    <%if @posts.length==0%>   
                    <div class="container"> 
                        <div class="row">
                        <div class="col-md-10">
                        <div class="jumbotron">
                          

<div style="text-align:center;font-size: 46px;">Welcome to Agrimart</div>               
                      
                      <p>
                          A Web portal to introduce Farmers to much wider market horizons, and fulfill the demands of Traders in most effective ways.   
                      </p><br> 
                      <div style="text-align:center;font-size: 28px;">Start by creating a post   </div><br>           
                     <div class="row">
                      <div class="col-sm-12" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"><img src="/assets/bill.png" alt="img" height = "50" width  = "50"></img>  Create Post</p>
                                  <p>Ready to sell?</p>
                                  <div style='color: #FFF;float: center; font-size: 16px;'>
                                       <a href='/posts/new' class='btn btn-info square-btn-adjust'>Create Post</a>
                                  </div>
                                 
                                  </div>
                              </div>
                              
                        </div>
                        </div>
                        </div>
                        </div>
                        </div>
                    </div>
                    <%end%>          
                              
					<% @posts.each do |post| %>

                    <% @crop_category = CropCategory.find(post.crop_category_id).name %>
                    <% @crop_name = CropName.find(post.crop_name_id).name %>
	                <% @requests = Request.where("post_id = ?", post.id).order("created_at desc")%>
	

					<div class='panel panel-default'>
                                 <div class='panel-heading'>
                                 <div style='color: #FFF;float: right; font-size: 16px;'>
                                <a href="/posts/<%=post.id%>" class='btn btn-success square-btn-adjust' type='submit'><span class="glyphicon glyphicon-share-alt" aria-hidden="true"></span>  view post </a>
                                     
                            
                                 </div>
                                     <div class="post-title"><span class="glyphicon glyphicon-grain" aria-hidden="true"></span> <%=post.title%> </div>
                                </div>
                              
                                  <div class='panel-body-posts'>
                                    <p><img src='/assets/crops/<%=@crop_name%>.png' alt='img' class='img-circle pull-right'> 
                                      <h4>Details</h4>
                                    
                                    Crop name : <%=@crop_category%><br>                                                       
                                    Crop Category : <%=@crop_name%><br>
                                    Price : <%=post.price%><br>
                                    Quantity : <%=post.quantity%> units<br>
                                    Status: <%=post.status%></p>
                                    <div class='clearfix'></div>
                                    <hr>
                        
                                    <% @requests.each do |req|%>
                                    
                                    <div class="panel panel-default">
                                      <div class="panel-body" style="text-align:center">
                                       
                                    <div class="row">
                                        <div class="col-md-4">Trader : <%=Trader.find(req.tarder_id).name%></div>
                                        <div class="col-md-3"> 
                                        <%=Taluka.find((Trader.find(req.tarder_id)).taluka_id).name%> , 
                                        <%=District.find((Trader.find(req.tarder_id)).district_id).name%>                   
                                        </div>
                                        <div class="col-md-3">Bid price : <%=req.bid_price%></div>
                                        <div class="col-md-2"><%=req.created_at.strftime("%b %d 20%y")%></div>
                                    </div>

                                      </div>
                                    </div>
                                     
                                    
                                    <%end%>
                        
                                  </div>
                              
                              
                               </div>
        			 <%end%>
            </div>
                      
                      <!--  Create post button and Adds-->
                      <div class="col-sm-3" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"><img src="/assets/bill.png" alt="img" height = "50" width  = "50"></img>  Create Post</p>
                                  <p>Ready to sell?</p>
                                  <div style='color: #FFF;float: center; font-size: 16px;'>
                                       <a href='/posts/new' class='btn btn-info square-btn-adjust'>Create Post</a>
                                  </div>
                                 
                                  </div>
                              </div>
                              <hr style="border-style:dashed">
                      </div>

                      <div class="col-sm-3" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"> Advertisement</p>
                                  <p>Ad Text</p>
                                  </div>
                              </div>
                      </div>

                      <div class="col-sm-3" style="text-align:center">
                           
                              <div class="panel panel-default">
                               <div class="panel-body">
                                  <p class="lead"> Jain drip</p>
                                  <p>Drips,sprinklers ,pumps</p>
                                 
                                  </div>
                              </div>
                      </div>
                      <!--  /Create post button and Adds-->

                      
                    </div>


                    <!-- /col-9 ........middle blank ends here-->
