<% @crop_category = CropCategory.find(@post.crop_category_id).name %>
<% @crop_name = CropName.find(@post.crop_name_id).name %>
<% @district = District.find(Farmer.find(@post.farmer_id).district_id).name%>
<% @taluka = Taluka.find(Farmer.find(@post.farmer_id).taluka_id).name%>
<% @address = Farmer.find(@post.farmer_id).address%>
<head>
    <script>
function showDiv() {
   document.getElementById('FormDiv').style.display = "block";
}
        
  $('#myButton').click(function() {
  $('#FormDiv').toggle('slow', function() {
    // Animation complete.
  });
});
        
</script>    
</head>
<table >
     <tr>
        <h4>Post Title : <%= @post.title%></h4>
     </tr>
     
    <tr>
        <h4>Quantity  : <%= @post.quantity%>
        </h4> 
     </tr>
    <tr>
        <h4>Price  : <%= @post.price %>
        </h4> 
     </tr>
    
    
    
    <tr>
        <h4>Name of Farmer : <%= Farmer.find_by(@post.farmer_id).name%></h4>
     </tr>
    
    <tr>
        <h4>Phone Number : <%= Farmer.find_by(@post.farmer_id).phone_no%>
        </h4> 
     </tr>
    
     <tr>
        <h4>District : <%= @district%>
        </h4>
     </tr>
     <tr>
        <h4>Taluka : <%= @taluka%>
        </h4>
     </tr>
     <tr>
        <h4>Address : <%= @address%>
        </h4> 
     </tr>
     
        
</table> 

    <% if user_type == "trader"%>
    <input id="myButton" class='btn btn-info square-btn-adjust' type='submit' value='Send request now'>   
    <% end%>
 

<div id="FormDiv"  style="display:none;" class="answer_list" > 

<h2>Send Request</h2>
<%= form_for([@post, @post.requests.build]) do |f| %>
  <div  style="color:grey; text-align:center"  class="form-inner">
                  
                    <br> 
                    <div class="form-group">
			           
                       <div class="col-md-3">
                       <label class="control-label">Request Title</label>
                       </div>
                       <div class="col-md-9">
                        <%= f.text_field :title , :class => "form-control"%> <br>
                       </div>
                    </div>
                    
                     
                     <div class="form-group">
			           
                       <div class="col-md-3">
                       <label class="control-label">Quantity</label>
                       </div>
                       <div class="col-md-9">
                        <%= f.text_field :quantity , :class => "form-control"%> <br>
                       </div>
                    </div>
                     
                    <div class="form-group">
			           
                       <div class="col-md-3">
                       <label class="control-label">Bidding Price</label>
                       </div>
                       <div class="col-md-9">
                        <%= f.text_field :bid_price , :class => "form-control"%> <br>
                       </div>
                    </div>
                    
<p>
    <%= f.submit "Send request" , :class => "btn btn-info square-btn-adjust" %> <br>
</p>
    
        </div>

 <%end%>         
</div>